<title>Storellet Lite</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script>

</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
<style>
    .ui.container > h2.dividing.header {
        font-size: 2em;
        font-weight: normal;
        margin: 1.5em 0em 1.5em;
    }
</style>