<h2 class="ui dividing header">Company Detail</h2>
<div class="ui middle aligned divided list">
    <div class="ui items">
        <div class="item">
            <div class="content">
                <a class="header">Cute Dog</a>
                <div class="description">
                    <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable
                        faces, others for their tiny stature, and even others for their massive size.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui">
    <button class="ui primary button">
        Approve And Download
    </button>
    <button class="ui button">
        Discard
    </button>
</div>
<script>
</script>