<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="ui container">
        <%- include('../partials/header'); %>
        <%- include(pages, {data}); %>
    </div>
</body>
</html>